
body {
	background: #141414;
	color: #ffffff;
	overflow: hidden;
}


.favBar {
height: 100px;
}

.dropContainer {
	position: absolute;
	margin-left: 180px;
}

.favorites {
	background-color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu {
	z-index: 6;
}

.movie-app > .row {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  z-index: -1;

}

.movie-app > .row::-webkit-scrollbar {
  display: none;
} 

.image-container {
  width: auto;
  height: 300px;
  padding: 10px;
	position: relative;
	transition: transform 0.5s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.08);
}

.image-container:hover .overlay {
	opacity: 1;
}

.searchResults {
	background-color: rgba(0, 0, 0, 0.8)
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 190px;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 10px;
	padding: 10px;
	text-align: center;
}

.overlay:hover {
  color: green;
}

.searchBtn {
	margin-left: 10px;
}
